@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    body{
        @apply bg-[#282A3A]
    }
}

@keyframes bounce { 
    0% { transform: translateY(0); }
    100% { transform: translateY(-50px); }
  }

#herro {
    animation: bounce 3.0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}